<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Application</title>
    <link rel="stylesheet" href="/login.css">

  </head>

  <body>
    <form action="" class="container">
      <div>
        <h1 class="">Login</h1>
        <input type=" email" placeholder="Username" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <button>Log In</button>
      </div>
      <p>don't have an account ? <a href="/signup">Sign Up</a></p>
    </form>
  </body>

</html>