<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Application</title>
    <link rel="stylesheet" href="/css/formcss/root.css">
  </head>

  <body>
    <main class="container">
      <h1>Welcome to Feedback Application</h1>
      <div class="actions">
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
      </div>
    </main>
  </body>

</html>