<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signUp.css">
    <title>Document</title>
  </head>

  <body>
    <form action="/login" class="container" method="POSt">
      <div>
        <h1 class="">Register</h1>
        <input type="text" placeholder="Username" name="username" required>
        <input type=" email" placeholder="Email" name="email" required>
        <select name="role" required>
          <option value="">Select Role</option>
          <option value="admin">Admin</option>
          <option value="instructor">User</option>
        </select>
        <input type="password" placeholder="Password" name="password" required>
        <input type="password" placeholder=" Conform Password" required>
        <button type="submit">Sign Up</button>
      </div>
      <p>Already have an account <a href="/login">Login</a></p>
    </form>
  </body>

</html>